BODY {margin-right:4%; margin-left:4%;max-width:100%; -webkit-hyphens: auto;-moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto;text-align: justify;text-justify: inter-word;font-family:"Times New Roman","Baskerville Old Face",Arial,Helvetica,serif;color:#2D3A53;background-color:#EEF0F5;line-height:200%;font-size:1.25em;}
.que {font-size:0.75em;line-height:150%;}
    #xsltext { position:relative; font-size:14pt;font-family:Georgia,serif; max-width:50em }
    #xsltext hr { color:#666; background:#666; width:15em }
    .page    { margin:20px }
    .pagenum { color:#aaa; font-size:.9em }
  .small { font-size:8pt }
.head  { text-align:center; font-size:1.2em; margin-top:1em }
.dta-head  { text-align:center; font-size:1.2em; margin-bottom:.5em }

.fw-top          { text-align:center; margin-bottom:2em; color:#666 }


/* .fw-pageNum      { display:none }*/
.fw-pageNum { text-align:center; color:#666; font-size:.8em }
.fw-bottom-sig   { margin-top:1em; font-size:.8em; color:#666 }
.fw-bottom-catch { text-align:right; margin-top:1em; margin-right:1em; font-size:.8em; color:#666 }

/* quote mess */
blockquote:before, blockquote:after, q:before, q:after {
    /* see http://www.paulchaplin.com/blog/css-reset-and-quirky-quotes */
    content:"";
    content:none;
}

/* place holders */
.ph, .phbl { color:#666 }
.phbl      { display:block; text-align:center }

.titlepage  { text-align:center }
.byline     { font-size:.9em; margin:1em 0 }
.dta-anzeige { color:#aaa }
/*.dta-dateline { margin-top:1em; text-align:right; margin-right:2em }*/
.dedication { padding-left:2em }
.footnotesep{ border-top:1px solid #333; margin-bottom:5px; width:10em }
.footnotesep-long{ border-top:1px solid #333; margin-bottom:5px; width:80% }
.footnote   { color:#333; font-size:.8em; margin-top:.5em }
.endnote    { color:#333; font-size:.8em; margin-top:.5em; margin-bottom:.5em }
.endnote-indent { text-indent:1em }
.fn-intext  { vertical-align:super; font-size:.8em }

.dta-argument { text-align:center; font-size:.9em }

/*
.dta-marginal       { position:absolute; width:140px; text-indent:0; background:#fff; padding:0 4px; border:1px solid #D1C5A4; font-size:smaller; z-index:10000 }
.dta-marginal-left  { left:-150px; text-align:right }
.dta-marginal-right { right:-150px; text-align:left }
*/

.dta-cb { font-size:.8em; color:#666; text-align:center; display:block; margin:5px }

.poem       { padding-left:2em; margin-bottom:1em }
.dta-salute { margin-top:1em; display:inline }
.speaker    { font-weight:bold }
.stage      { font-style:italic; font-size:.9em }
.stage .c   { font-style:italic; font-size:.9em }
div.stage   { margin-bottom:.5em }

/*.dta-lg     { margin-bottom:1em }*/

div.dta-figure { font-size:.9em; margin-top:1em; margin-bottom:1em }
div.dta-figure p { margin-left:1em; display:inline }
.dta-figure img { /*width:50%; height:auto*/ }

.titlepart           { font-size:1em }
.titlepart-main      { margin-bottom:1em; font-size:1.6em }
.titlepart-volume    { font-size:1em }
.titlepart-edition   { font-size:1em }
.titlepart-copyright { font-size:1em }
.titlepart-desc      { font-size:1em }
.titlepart-sub       { font-size:1.3em; margin-bottom:.5em }

.docauthor { font-size:1em; margin-bottom:.5em }

.gap       { color:#666 }

.dta-foreign { color:#666 }
.dta-foreign:before { content:"[" }
.dta-foreign:after { content:"]" }

.dta-corr { border-bottom:dotted 2px #97002d }
.dta-reg  { border-bottom:dotted 2px #2d9700 }
.dta-abbr { border-bottom:dotted 2px #002D97 }
.dta-supplied { color:#2D9700 }

/* dramae */
.dta-sp { margin-bottom:1em }
.dta-in-sp { display:inline; /*margin-left:.5em*/ }
.dta-actor { float:right }

/* lb @n */
.dta-lb-n { float:right }

/* renditions inline */
.aq    { font-family:Verdana,sans-serif; /*font-size:1em*/ }
.rom   { font-family:Verdana,sans-serif; font-size:1em } /* mpi dlc compatibility */
.blue  { color:#475784 }
.cap   { text-transform:capitalize }
.cw    { text-align:right }
.down  { vertical-align:sub; font-size:.7em }
.f     { font-family:Times,serif; border:1px dotted silver }
.fr    { }
.sub   { vertical-align:sub; font-size:.7em }
.g     { letter-spacing:0.125em; font-feature-settings: "liga" 0 }
.g:before { content:''; margin-left:0.125em }
.g:after  { content:''; margin-right:0em }
/*.in    { float:left; font-size:350%; line-height:1; margin-right:5px; margin-top:0px }*/
.in    { font-size:150%; /*margin-left:-3px*/ }
.k     { font-variant:small-caps }
.red   { color:#BC4C49 }

/*.s     { text-decoration: line-through }*/
.s { font-size:.8em }

.u     { text-decoration:underline }
.up,.sup, .fn-sign { vertical-align:super; font-size:.8em }
.uu    { border-bottom:double 3px #000 }

/* vertical text */
.v { color:#fff; background:#FF00FF }

.dta-rend { background:url(images/stripes.png) }

 /* renditions block */
.c     { display:block; text-align:center }
.et    { display:block; margin-left:2em; text-indent:0 }
.et1   { display:block; margin-left:4em; text-indent:0 }
.et2   { display:block; margin-left:6em; text-indent:0 }
.et3   { display:block; margin-left:8em; text-indent:0 }
.dta-in-sp .et { display:inline; text-indent:2em }
.right { display:block; text-align:right }

/* cast lists */
table.dta-castgroup { border-collapse:collapse; border-spacing:0; margin:0; width:100% }
td.castitem     { border-right:1px solid #333; padding-right:10px; padding-left:0; padding-bottom:5px }
.castitem       { margin-bottom:5px }
td.roledesc     { vertical-align:middle; padding-left:5px }

/* tables */    
.dta-table      { margin-top:0; margin-left:auto; margin-right:auto; background:#fff; border-collapse:collapse }
.dta-table td   { vertical-align:top; border:1px solid #ccc; padding:3px }
caption h1,
caption h2,
caption h3,
caption h4,
caption h5,
caption h6 { font-size:1em; white-space:nowrap; padding-bottom:5px }

/* lists */
ul.dta { list-style-type:none; padding-left:2em }
ul.dta li { margin-bottom:3px }

.dta-bibl { font-size:.9em }

.dta-columntext { white-space:normal }
.dta-columntext td { padding-left:10px; padding-right:2em }
/*.dta-columntext td:nth-child(2n+1) { border-right:1px solid #666 }*/

table.list          { border-collapse:collapse; border-spacing:0; margin:0 }
td.item-right       { border-left:1px solid #333; padding-right:10px; padding-left:0; padding-bottom:5px; padding-left:2em }
td.item-left        { border-right:1px solid #333; padding-right:10px; padding-left:0; padding-bottom:5px; padding-left:2em }
td.dta-list-trailer { vertical-align:middle; padding-left:5px; text-indent:0 !important }
td.dta-list-head    { vertical-align:middle; padding-right:2em }
.dta-list           { padding-left:2em; margin-bottom:1em }
.dta-list-item      { text-indent:-1em; margin-bottom:.5em }
.dta-list-item-noindent { text-indent:0em; margin-bottom:.5em !important }
.dta-list-item table { text-indent:0em }

.dta-listbibl       { margin-left:2em }
.dta-listbibl > br { display:none }
.dta-listbibl .dta-bibl { display:block; margin-bottom:10px; text-indent:-1em }

/* all things brace ... */
.braced-base       { display:inline-block; /*text-align:center;*/ vertical-align:middle; padding:0 5px 0 5px }
p .braced-base     {text-indent:0 !important}
.braced-left-right { border-left:1px solid #333; border-right:1px solid #333; margin-left:1em }
.braced-left { border-left:1px solid #333; margin-left:1em }
.braced-right { border-right:1px solid #333 }
.braced-base .dta-list-item { text-indent:0; margin-bottom:0 }


.publication li { margin-bottom:.3em }

.dtabf-change { margin-bottom:20px }
.dtabf-change-head { font-size:1.3em; font-family:Vollkorn,verdana; color:#827B66; font-weight:normal; font-style:italic; margin:0; padding:0 }

/*.bf-toc    { font-size:.9em }
.bf-toc p  { font-weight:bold; padding-top:20px }
.bf-toc ul { list-style-type:none; padding:10px; background:#FFFEF9 }
.bf-toc li { margin-bottom:10px }*/


#xsltext h1 { font-size:1.8em }
#xsltext h2 { font-size:1.6em }
#xsltext h3 { font-size:1.4em }
#xsltext h4 { font-size:1.3em }
#xsltext h5 { font-size:1.2em }
#xsltext h6 { font-size:1.1em }

.fw-top, .fw-bottom-sig { opacity:.5 }

p.dta-p { text-indent:2em }
.dta-sp p { text-indent:0 !important }
.dta-p-in-sp-really { padding-top:10px }
.speaker    { font-weight:bold }
.speaker *  { }
.stage      { font-style:italic }
.fr         { font-size:1.1em }
.dta-salute { text-indent:10em }
.dta-closer { text-align:right; margin-right:10em }
.dta-lg     { margin-bottom:10px; margin-top:0 !important; margin-left:2em }
.footnotesep, .footnotesep-long { margin-top:15px }
p           { margin-bottom:10px; margin-top:0 !important }
.dta-figure { opacity:.5 }

.dta-marginal       { position:absolute; width:140px; text-indent:0; background:#fff; padding:0 4px; border:1px solid #D1C5A4; font-size:smaller; z-index:10000 }
.jArticle_j {text-align:left;font-weight:normal;font-size:1em;}
@media (prefers-color-scheme: dark) {
body {
background-color: #020206;
color:#ABABAB;
}
a {
  color: #64ABD5;
  text-decoration: none;
}

a:visited {
  color:  #8597AE;
}

a:active  {
  color: #a3d4ff;
  text-decoration: underline;
}
h1,h2,h3,h4,h5,h6,b {
font-weight:bold;
}
a b,b a {
 color:   #64ABD5;
  text-decoration: underline;
}
a:visited  b,b a:visited{
  color:  #8597AE;
}

a:hover b, a:focus b ,b a:focus, b a:hover{
  color: #a3d4ff;
}

a:active b,b a:active {
  color:  #ff6b6b; 
}

}

