
body {
    line-height: 1.2;
    margin: 0;
    padding: 1em;
    font-size: 1em;
color:#1F2937;
}

p.quote,div.quote,span.quote {
    font-size: 0.75em;
    margin: 1.5em 1px 1.5em 1px;
}
table.quote  {
    font-size: 0.75em;
    margin: 1.5em auto 1.5em auto;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
    text-align:center;
}


p.date,div.date {
    font-size: 0.75em;
    margin: 1.5em auto 1.5em auto;
    text-align:center;
}
span.cq,div.cq {
text-align:center;
display: block;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto;
}
a {color:#2563EB;text-decoration: underline;}/*#1A0DAB;*/
a:visited {color:#4B6CB7}
a:hover, a:focus {color:#1E40AF;}/*#2563EB;#6B7280*/
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
    color: #e0e0e0;
  }
a {
  color: #64ABD5;
  text-decoration: underline;
}

a:visited {
  color:  #8597AE
}

a:hover, a:focus {
  color: #a3d4ff;
  text-decoration: underline;
}

a:active {
  color:  #ff6b6b; 
}
h1,h2,h3,h4,h5,h6,b {
 color:  #F0F0F0;
}
a b,b a {
 color:   #64ABD5;
  text-decoration: underline;
}
a:visited  b,b a:visited{
  color:  #8597AE
}

a:hover b, a:focus b ,b a:focus, b a:hover{
  color: #a3d4ff;
}

a:active b,b a:active {
  color:  #ff6b6b; 
}

}

