.style1 {color: #FF0000;font-family: "黑体";}
.style2 {font-size: 1.25em}
.date,.style3 {font-size: 0.75em;text-align:center;margin-top:0;margin-bottom:0.5em;}
.quote {font-size: 0.75em;margin: 1.5em 1px 1.5em 1px;line-height:150%;}
table {margin: 1.5em;max-width:100vw;}
table.quote  {font-size: 0.75em; margin: 1.5em;}
h1,h2 {font-family: "黑体"; text-align:center;margin:1.5em;line-height:200%;}
h3,h4,h5,h6 {font-family: "黑体"; text-align:center;margin:1em;line-height:200%;}
body {font-family: "华文中宋","黑体";color:#2D3A53;background-color:#EEF0F5;line-height:200%;font-size:1.25em;text-align:justify;}/*#F9FAFB;#F7F7F5;#000000;*/
p {margin: 0 1px 0 1px;line-height:200%;}
p.quote,div.quote,span.quote {
    font-size: 0.75em;
    margin: 1.5em 1px 1.5em 1px;
}
table.quote  {
    font-size: 0.75em;
    margin: 1.5em auto 1.5em auto;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
    text-align:center;
}


p.date,div.date {
    font-size: 0.75em;
    margin: 1.5em auto 1.5em auto;
    text-align:center;
}
span.cq,div.cq {
text-align:center;
display: block;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto;
}
a,a:focus-visible {color:#2563EB;text-decoration: none;}/*#1A0DAB;*/
a:visited {color:#4B6CB7}
a:active {color: #1E40AF;text-decoration: underline;}/*#2563EB;#6B7280*/

@media (prefers-color-scheme: dark) {
  body {
background-color: #020206;
color:#ABABAB;
}
a {
  color: #64ABD5;
  text-decoration: none;
}

a:visited {
  color:  #8597AE;
}

a:active  {
  color: #a3d4ff;
  text-decoration: underline;
}
h1,h2,h3,h4,h5,h6,b {
 color:  #F0F0F0;
}
a b,b a {
 color:   #64ABD5;
  text-decoration: underline;
}
a:visited  b,b a:visited{
  color:  #8597AE;
}

a:hover b, a:focus b ,b a:focus, b a:hover{
  color: #a3d4ff;
}

a:active b,b a:active {
  color:  #ff6b6b; 
}

}