.style1 {color: #FF0000;font-family: "黑体";}
.style2 {font-weight:bold;font-size: 1.25em;}
.date,.style3 {font-size: 0.75em;text-align:center;margin-top:0;margin-bottom:0.5em;}
.TCC {width: 20%;font-size: 0.75em;text-align:justify;margin:1em auto;}
.TOC {width: 85%;text-align:justify;margin:1em auto;}
table.TOC {width: 75%;text-align:justify;margin:auto;}
.quote,blockquote,.footnote {font-size: 0.75em;margin: 1.5em 0;line-height:150%;}
blockquote p {line-height:150%;}
.footnote {margin-top:2em;}
table {margin: 1.5em;max-width:120vw !important;}
table.quote,table.footnote,blockquote table  {font-size: 0.75em; margin: 1.5em;}
h1,h2 {font-family: "黑体"; text-align:center;margin:1.5em;line-height:200%;}
h3,h4,h5,h6 {font-family: "黑体"; text-align:center;margin:1em;line-height:200%;}
body {margin-right:5%; margin-left:5%;max-width: 100%;font-family: "华文中宋","黑体";color:#2D3A53;background-color:#EEF0F5;line-height:200%;font-size:1.25em;text-align:justify;}/*#F7F7F5;#000000;#F9FAFB#FAFAF8#1F2937;#404040*/
p {margin: 0;line-height:200%;}
p.cq,span.cq,div.cq {text-align:center;display: block;}
div[align="right"] table,div.quote[align="right"] {margin: 1.5em 0 1.5em auto;text-align:left;}
div[align="right"] table.quote,div.quote[align="right"] {display:table;}
div[align="right"] table.quote td {text-align:left;}
span[align="center"] {display: block;}
a {color:#2563EB;text-decoration: underline;}/*#1A0DAB;*/
a:visited {color:#4B6CB7}
a:hover, a:focus {color:#1E40AF;}/*#2563EB;#6B7280#1e1e1e;rgba(224,224,224,0.75);*/
.table-wrapper {
  overflow-x: auto;
  max-width: 100%;
}
@media (prefers-color-scheme: dark) {
body {
background-color: #020206;
color:#ABABAB;
}
a {
  color: #64ABD5;
  text-decoration: underline;
}

a:visited {
  color:  #8597AE;
}

a:hover, a:focus {
  color: #a3d4ff;
  text-decoration: underline;
}

a:active {
  color:  #ff6b6b; 
}
h1,h2,h3,h4,h5,h6,b {
font-weight:bold;
}
a b,b a {
 color:   #64ABD5;
  text-decoration: underline;
}
a:visited  b,b a:visited{
  color:  #8597AE;
}

a:hover b, a:focus b ,b a:focus, b a:hover{
  color: #a3d4ff;
}

a:active b,b a:active {
  color:  #ff6b6b; 
}

}


